<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create_user</title>

    <!-- Include your CSS and other head elements -->
    {% include 'header.html' %}
</head>
<body>
    
    {% include 'navbar.html' %}
    <!-- {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="alert alert-dismissible fade show" role="alert">
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %} -->
    
    <div class="login-container">
        <h2>Create account</h2>
    <form action="{{ url_for('create_user') }}" method="POST">
            <div class="form-group">
                <label for="new_username">Mobile no.</label>
                <input type="text" class="form-control" id="new_username" name="new_username" required>
            </div>
            <div class="form-group">
                <label for="new_password">Password</label>
                <input type="password" class="form-control" id="new_password" name="new_password" required>
            </div>
            <div class="form-group">
            <button type="submit" class="btn">Create account</button></div>
        </form>
    </div>
</div> 

</body>
</html>