<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movement Makers</title>
    {% include 'header.html' %}
    <style>
        /* Include the CSS here */
    </style>
</head>

<body>
    {% include 'navbar.html' %}

    <div class="container">
        <h2>Create New Admin</h2>
        {% if success %}
        <p class="success-message">{{ success }}</p>
        {% endif %}
        <form action="/create_admin" method="post">
            <div class="form-group">
                <label for="new_admin_username">Username</label>
                <input type="text" id="new_admin_username" name="new_admin_username" required>
            </div>
            <div class="form-group">
                <label for="new_admin_password">Password</label>
                <input type="password" id="new_admin_password" name="new_admin_password" required>
            </div>
            <div class="form-group">
                <button type="submit">Create Admin</button>
            </div>
        </form>
    </div>
    {% include 'products.html' %}

    {% include 'footer.html' %}
    <!-- Navigation bar -->
   

   
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>