<!-- templates/navbar.html -->
<nav class="navbar">
    <div class="navbar-container">
        <a class="navbar-brand" href="/">
            <img src="/static/uploads/logo.jpg" alt="Logo" class="navbar-logo" />
            <b>MOVEMENT MAKERS</b>
        </a>
        <ul class="navbar-links">
            <li><a href="/" class="active">Home</a></li>
            <li><a href="/login">Admin Login</a></li>
            <li><a href="/login">Sign_In</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
        <div class="navbar-actions">
            
            
            <a href="/cart" class="navbar-cart">
                <i class="fas fa-shopping-cart"></i>
                <span class="cart-count">0</span>
            </a>
        </div>
        <button id="theme-toggle">Switch Theme</button>
    </div>
</nav>