<!-- templates/navbar.html -->
<nav class="navbar">
  <div class="navbar-container">
    <a class="navbar-brand" href="/">
      <img src="/static/uploads/newlogo.png" alt="Logo" class="navbar-logo" />
      <b>MOVEMENT MAKERS</b>
    </a>
    <ul class="navbar-links" id="nav-links">
      <li><a href="/" class="active">Home</a></li>
      
      {% if session.get('user_id') %}
        <!-- If user is logged in, show their role with a clickable link -->
        <li>
          <a href="{{ url_for(session['role'] + '_dashboard') }}" class="role-link" style="background-color: rgb(16, 25, 32);">
            {{ session['role'].capitalize() }} Dashboard
          </a>
        </li>
        <li>
          <a class="" href="{{ url_for('logout') }}">Logout</a>
        </li>
      {% else %}
        <!-- If user is not logged in, show Login button -->
        <li><a href="{{ url_for('login') }}" class="">Login</a></li>
      {% endif %}

      
      <li><a href="/contact">Contact</a></li>
      <li>
        <a href="/cart">
          Cart <span id="cart-count">(0)</span>
        </a>
      </li>
    </ul>

    <!-- Hamburger Icon (for small screens) -->
    <div class="hamburger" onclick="toggleMenu()">
      <img
        style="max-width: 40px; max-height: 20px"
        src="/static/OIP.png"
        alt="click me"
      />
    </div>
  </div>
</nav>

<script>
  function toggleMenu() {
    const navbar = document.querySelector(".navbar");
    navbar.classList.toggle("active");
  }
</script>
