<!-- templates/navbar.html -->
<nav class="navbar">
  <div class="navbar-container">
    <a class="navbar-brand" href="/">
      <img src="/static/uploads/newlogo.png" alt="Logo" class="navbar-logo" />
      <b>MOVEMENT MAKERS</b>
    </a>
    <ul class="navbar-links">
      <li><a href="/" class="active">Home</a></li>
      <li><a href="/login">Admin Login</a></li>
      <li><a href="/login">Sign In</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#contact">Contact</a></li>
      <li>
        <a href="/cart">Cart <span id="cart-count">(0)</span></a>
      </li>
      <!-- Display cart count -->
    </ul>

    <!-- Hamburger Icon (for small screens) -->
    <div class="hamburger" onclick="toggleMenu()">
      <img
        style="max-width: 40px; max-height: 20px"
        src="/static/OIP.png"
        alt="click me"
        srcset=""
      />
    </div>
  </div>
</nav>

<script>
  function toggleMenu() {
    const navbar = document.querySelector(".navbar");
    navbar.classList.toggle("active");
  }
</script>
